<div class="section">
 
  <div class="row">
   

    <div class="col s12 m7 card">
        <% @articles.each do |article| %>
            <div class="card-content">
                <h3 class="gray-text"><%=article.title%></h3>
                <p class="gray-text"><%= truncate(raw(article.body), :length => 140) %></p>
            </div>
            <div class="card-action">
                <p class="date"><%= article.created_at.strftime("%b %d, %Y")%></p>

                <%= link_to "Mais", article, class:"waves-effect waves-light brown  btn"%>
            </div>
        <% end %>

        <%= will_paginate @articles %>
    </div>


   <div class="col s12 m4 card board-article">
     <div class="card brown">
        <div class="card-content">
            <h4 class="center white-text">Outros artigos</h4>
        </div>
     </div>
        <% @other_articles.each do |o| %>
            <ul>
                <i class="fa fa-bookmark-o" aria-hidden="true"></i>  <%= link_to o.title, o %>
            </ul>
        <%end%>
   </div>
    

   <div>
    
   </div>

  </div>


</div>