<div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag "slide1.jpg" %> <!-- random image -->
        <div class="caption center-align">
          <h3>Dias & Araújo Advocacia</h3>
          <h5 class="light grey-text text-lighten-3">Consultoria.</h5>
        </div>
      </li>
      <li>
        <%= image_tag "slide2.jpg" %> <!-- random image -->
        <div class="caption left-align">
          <h3>Dias & Araújo Advocacia</h3>
          <h5 class="light grey-text text-lighten-3">Orientação para soluções alternativas.</h5>
        </div>
      </li>
      <li>
        <%= image_tag "slide3.jpg" %> <!-- random image -->
        <div class="caption right-align">
          <h3>Dias & Araújo Advocacia</h3>
          <h5 class="light grey-text text-lighten-3">Consultoria preventiva e do contencioso judicial.</h5>
        </div>
      </li>
      <li>
        <%= image_tag "slide3.jpg" %> <!-- random image -->
        <div class="caption center-align">
          <h3>Dias & Araújo Advocacia</h3>
          <h5 class="light grey-text text-lighten-3">Assessoria e atuação em processos judiciais.</h5>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <br>
  <div class="container">

    <hr class="style-eight">
    <br>
    <br>
    <div class="row">
        <% @services.each do |service| %>
          <div class="col s12 m4">
              <div class="card  darken-1 z-depth-4">
              <div class="card-content black-text">
                  <span class="card-title "><%= service.title%></span>
                  <hr>
                  <p><%= truncate(service.body, :length => 300 , :escape => false) %></p>
              </div>
              <div class="card-action">
                  <%= link_to "Mais...", service, class:"black-text" %>
              </div>
              </div>
          </div>
        <% end %>
    </div>
    


    <hr class="style-eight">
    <br>
    <br>

  </div>




