<div class="container">
  <br>
  <h1 class="center grey-text">Contato</h1>
  <hr>
  <div class="row">
  
<div class="col s12 m6 card">
  <%= form_for @contact do |f| %>
      <%= f.label :Nome%>
      <%= f.text_field :name, required:true%>

      <br>

      <%= f.label :Email%><br>
      <%= f.email_field :email, required:true%>

      <br>

      <%= f.label :Mensagem%><br>
      <%= f.text_area :message, as: :text%><br>

      <div class="hidden">
        <%= f.label :nickname%><br>
        <%= f.text_area :nickname, hint: 'leave this field blank'%><br>
      </div>
      <%= f.submit 'Enviar', class: 'waves-effect waves-light btn brown lighten-1'%><br>
    <% end %>
</div>

   <div class="col s12 m6 down-position">
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB8ubbieOefDKCEtT-0-hxU7sTJaaiAS_0'></script><div style='overflow:hidden;height:410px;width:100%;'><div id='gmap_canvas' style='height:400px;width:520px;margin-top:10px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div> <a href='http://maps-generator.com/pt'>Maps-Generator</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=dd6a0bff752bd5c9f4801a83a6a3944c018f3f0d'></script><script type='text/javascript'>function init_map(){var myOptions = {zoom:12,center:new google.maps.LatLng(-16.6930489,-49.25901590000001),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-16.6930489,-49.25901590000001)});infowindow = new google.maps.InfoWindow({content:'<strong>Dias & Araújo Advocacia e Consultoria.</strong><br>Rua 132, Nº 300 | Setor Sul<br> 74093-210 Goiânia<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
   </div>
  </div>


</div>