    <%= form_for @resume do |f| %>
        <div class="field">
            <%= f.label :avatar %>
            <%= f.file_field :avatar%>
        </div>
        <%= f.label :title, 'Nome'%><br>
        <%= f.text_field :title%> <br>
        <br>
        <%= f.cktext_area :body, rows: 10 %>
        <br>
         <%= f.submit "Publicar", class: "btn" %>
        
    <% end %>
    <br>
</div>